
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  .biography {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #eee;
    position: relative;
  }
  .biography::after {
    content: "";
    border-bottom: 1px solid #eee;
    position: absolute;
    bottom: -3px;
    width: 100%;
    border-radius: 10px;
    height: 20px;
  }
  .biography ul {
    padding:0.5rem 0.75rem 1rem;
  }
  .biography ul li {
    padding:0.2rem 0;
    font-size: 0.9em;
    border-bottom:1px solid #eee;
  }
  .biography ul li:last-child {
    border-bottom:0;
  }
  .myphoto {
    position: relative;
  }
  .myphoto img {
    position: relative;
    z-index: -1;
  }
  
  ul.list-check li i {
    color: #68c3a3;
    margin-right: 2%;
  }
  ul.list-check li {
    position:     relative;
    line-height: 1.75rem;
  }
    